# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
.mypy_cache

# VS Code
.vscode/

# Environments
.env
venv/
.venv/

# Data/output
*.sqlite3
*.db
export/
voice_book_*/
export*/
backups/
ready_books/
logs/
tmp/
s3sync*
characters/

# OS
.DS_Store
